.title {
    text-align: center;
}


.main-form {
    width: 50%;
    margin: 0 auto;
}

p {
    font-weight: bold;
}


.cta-button {
    padding: 10px 20px;
    background-color: #6E5E52;
    color: #E6D5C9;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}